:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-footer-color: #2f303a;
  --title-color: #212121;
  --adv-workarea-color: #f5f5f5;
  --typical-letter-spacing: 0.03em;
  --main-gap: 30px;
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

.section {
  margin-right: auto;
  margin-left: auto;
}

.section-body {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-body {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*outline: 2px solid red;*/
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: var(--typical-letter-spacing);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.accent-logo {
  color: var(--accent-color);
}

.logo--color-light {
  color: var(--primary-white-color);
}

.logo--color-dark {
  color: #000000;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  color: var(--title-color);
}

.btn {
  cursor: pointer;
  display: block;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 90%;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-close-icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-close-icon, .modal-close:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-form {
  position: relative;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.input-field {
  position: relative;
  margin-bottom: 10px;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  outline-color: var(--accent-color);
}

.form-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input::placeholder,
.comment-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .form-input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form-input::-moz-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form-input:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form-input::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form-input::placeholder,
.comment-text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.comment-text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.comment-text:focus {
  outline-color: var(--accent-color);
}

.field-comment {
  margin-bottom: 19px;
}

.modal-contacts-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  /*transform: translateY(-50%);*/
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-contacts-icon {
  fill: var(--accent-color);
}

.field-check {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.check-text,
.check-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: var(--typical-letter-spacing);
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .check-text,
.check-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-link {
  text-decoration: none;
  margin-right: 0;
  color: var(--accent-color);
}
.check-link:hover, .check-link:focus {
  color: #188ce8;
}
.check-link::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  border: none;
}

.check-text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 3px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.icon-check {
  fill: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text .icon-check {
  fill: #ffffff;
}

.submit-btn {
  margin: 0 auto;
  padding: 10px 52px;
  font-style: normal;
}

.soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, .soc-link:focus {
  background-color: var(--accent-color);
}

.soc-link--color-light {
  background-color: var(--primary-white-color);
}

.soc-link--color-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover .soc-icon, .soc-link:focus .soc-icon {
  fill: var(--primary-white-color);
}

.soc-icon--color-light {
  fill: var(--primary-white-color);
}

.soc-icon--color-dark {
  fill: #afb1b8;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px) {
  .header__list,
.connection {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__navigation,
.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__list {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    color: var(--title-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:hover, .header__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .header__item {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .active {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: var(--accent-color);
    border: none;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .connection {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}

@media screen and (min-width: 768px) {
  .connection__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .connection__link:hover, .connection__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .connection__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
@media screen and (max-width: 767px) {
  .mob-menu .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.header__menu-btn {
  display: block;
  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  fill: #000000;
}
@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu-btn {
    display: none;
  }
}

.mob-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: var(--title-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__close-btn:hover, .mob-menu__close-btn:focus {
  fill: #188ce8;
}

.mob-menu__close-btn.is-open .mob-menu__icon {
  display: block;
}

.header__menu-btn.is-open .header__menu-btn {
  display: none;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.mob-menu__link.active {
  color: var(--accent-color);
}

.mob-menu__item .mob-menu__link:hover {
  color: var(--title-color);
}

.mob-connect__list {
  margin-top: auto;
  margin-bottom: 64px;
}

.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-mail {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-top: 13px;
  padding-bottom: 13px;
}

.mob-soc__item {
  position: relative;
}

.line::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 22px;
  bottom: 2px;
  right: -10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  padding-top: 118px;
  padding-bottom: 198px;
  width: 100%;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: var(--bg-gradient), url(../img/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../img/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--bg-gradient), url(../img/hero-bg-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../img/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 280px;
    background-image: var(--bg-gradient), url(../img/hero-bg-desk-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../img/hero-bg-desk-2x.jpg);
  }
}

.hero-main-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-main-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  padding: 10px 24px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .hero-btn {
    min-width: 216px;
    padding: 10px 32px;
  }
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--main-gap);
}

.advantages-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantages-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item {
    width: calc((100% - 90px) / 4);
  }
}

.thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.advantages-title-after {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: var(--typical-letter-spacing);
  margin-bottom: 10px;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--typical-letter-spacing);
}

@media screen and (max-width: 1199px) {
  .workarea {
    display: none;
  }
}

.workarea-title {
  margin-bottom: 50px;
}

.workarea-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--main-gap);
}

.workarea-item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.workarea-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 30px;
}

.team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--main-gap);
}

.team__item {
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__img {
  background-color: #757575;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team__title-after {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  margin-bottom: 16px;
}

.team__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.clients-title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--main-gap);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  color: var(--primary-white-color);
  background-color: var(--hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
}

.contacts {
  margin-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .contacts {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: left;
  }
}

.contacts__logo {
  margin-bottom: 20px;
}

.contacts__address-text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--typical-letter-spacing);
  margin-bottom: 9px;
}

.contacts__item {
  margin-bottom: 9px;
}

.mail-link,
.tel-link {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--typical-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.footer-soc {
  margin: 0 auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .footer-soc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-soc {
    margin-left: 165px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.footer-soc__agitation {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--typical-letter-spacing);
  text-transform: uppercase;
}

.footer-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 480px) {
  .subscription {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: auto;
    text-align: left;
  }
}

.subscription__text {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--typical-letter-spacing);
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscription__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 20px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    margin-right: 12px;
    width: 358px;
    margin-bottom: 0;
  }
}
.subscription__input:focus {
  outline-color: var(--accent-color);
}
.subscription__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: var(--typical-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: var(--typical-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: var(--typical-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: var(--typical-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: var(--typical-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
}

.subscription__icon-send {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.portfolio-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
  /* @media screen and (min-width: 480px) {
    margin-bottom: 40px;
  }*/
}
@media screen and (min-width: 768px) {
  .portfolio-btn-list {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-btn-list {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*.portfolio-btn-item {
  @media screen and (min-width: 480px) {
    margin-bottom: 15px;
  }
}*/
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: var(--typical-letter-spacing);
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--title-color);
  background: #f5f4fa;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  background-color: #188ce8;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--main-gap);
}

.portfolio-list-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-list-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list-item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  display: inline-block;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: var(--typical-letter-spacing);
}
.portfolio-list-item:hover .portfolio-top-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-list-link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-list-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list-text {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: var(--typical-letter-spacing);
}/*# sourceMappingURL=main.css.map */