.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  overflow-y: scroll;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  // @media screen and (max-width: 479px) {
  //   padding: 93px 15px;
  // }
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  width: 450px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }
  @include tablet {
    position: absolute;
    width: calc (100% - 318px);
    min-height: 581px;
    top: 50%;
    left: 50%;
  }
  // width: 528px;
}
.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-close:hover &,
  .modal-close:focus & {
    fill: var(--accent-color);
  }
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  color: var(--title-color);
}
.input-field {
  position: relative;
  margin-bottom: 10px;
}
.input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline-color: var(--accent-color);
  }
}
.form-input::placeholder,
.comment-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment-text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  &:focus {
    outline-color: var(--accent-color);
  }
}
.field-comment {
  margin-bottom: 19px;
}
.modal-contacts-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  /*transform: translateY(-50%);*/
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-input:focus + & {
    fill: var(--accent-color);
  }
}
.field-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 29px;
}
.check-text {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.check-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--typical-letter-spacing);
  color: var(--primary-text-color);
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 3px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .input-check:checked + & {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
  .input-check:focus + & {
    border-color: var(--accent-color);
  }
}
.icon-check {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text .icon-check {
  fill: #ffffff;
}
.check-link {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--typical-letter-spacing);
}
.submit-btn {
  margin: 0 auto;
  padding: 10px 52px;

  font-style: normal;
}
