body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
}
.section {
  margin-right: auto;
  margin-left: auto;
}
.section-body {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
