.clients-title {
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 50px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-gap);
}
.clients-item {
  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: calc((100% - 60px) / 3);
  }
  @include mobile {
    width: calc((100% - 30px) / 2);
  }
  @include tablet {
    width: calc((100% - 60px) / 3);
  }
  @include desktop {
    width: calc((100% - 150px) / 6);
  }
}
.clients-link {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
  }
}
