.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.header__list,
.connection {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.header__navigation,
.header__list {
  @include tablet {
    display: flex;
    align-items: center;
  }
}
.header__list {
  @include tablet {
    column-gap: 50px;
  }
}
.header__link {
  @include tablet {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__link {
  @include tablet {
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.header__item {
  @include tablet {
    position: relative;
  }
}
.active {
  @include tablet {
    color: var(--accent-color);
  }
}
.active::after {
  @include tablet {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: var(--accent-color);
    border: none;
    border-radius: 2px;
  }
}
.connection {
  @include tablet {
    margin-left: auto;
  }
  @include desktop {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.connection__link {
  @include tablet {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.14;
  }
}

// Menu

@media screen and (max-width: 767px) {
  .mob-menu {
    display: none;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .mob-menu.is-open {
    display: block;
  }
}
.mob-menu .container {
  @media screen and (max-width: 767px) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 15px;
  }
}
.mob-menu {
  @include mobile {
    display: none;
  }
}
.mob-menu__top {
  margin-bottom: 306px;
}
.header__menu-btn,
.mob-menu__close-btn {
  display: block;
  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}
.header__menu-btn {
  fill: #000000;

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
.mob-menu__close-btn {
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #188ce8;
  }
}
// .mob-menu__close-btn .mob-menu__icon {
//   display: none;
// }
.mob-menu__close-btn.is-open .mob-menu__icon {
  display: block;
}
.header__menu-btn.is-open .header__menu-btn {
  display: none;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.mob-menu__link.active {
  color: var(--accent-color);
}
.mob-menu__item .mob-menu__link:hover {
  color: var(--title-color);
}
.mob-connect__list {
  margin-bottom: 64px;
}
.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mob-mail {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-soc__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}
.mob-soc__link {
  // text-decoration: none;
  // display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-top: 13px;
  padding-bottom: 13px;
}
.mob-soc__item {
  position: relative;
}
.line::after {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 22px;
  bottom: 2px;
  right: -10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
