.workarea {
  @media screen and (max-width: 1199px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}
.workarea-title {
  margin-bottom: 50px;
}
.workarea-list {
  display: flex;
  gap: var(--main-gap);
}
.workarea-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}
.workarea-text {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
  text-transform: uppercase;
}
